# Python虚拟环境
venv/
env/
*.env

# 日志文件
logs/
*.log
*.log.*

# Python编译文件
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 操作系统文件
.DS_Store
Thumbs.db
*.swp
*.swo
extracted_mails/
config.py

# 测试 Web UI 编辑
# Edited via GitHub Actions Manager Web UI